header{
  width: 1400px;
  max-width: 1200px;
  height: 70px;
  margin: 0 auto;
  background-color: #e2d4ed;
}
nav{
  width: 350px;
  float: right;
  font-size: 18px;
}

ul{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;

}
ul> li{
  list-style: none;
  font:Arial;
  
}
li:hover{
  font-size: 19px;
  text-decoration: line-through;
}
.section-products {
    display: flex;
    height: 100vh;
    background-image: url(../../../../assets/images/backgrounds/trianglify-1.png);
    justify-content: center;
    align-items: flex-start;
  }

  .cont-buttons button:first-child {
    background-color:#dd424257;
  }
  
  .cont-buttons button:last-child {
    background-color: #88c782;
  }

  .p-0{
      height: 340px;
  }