header {
  width: 1400px;
  max-width: 1200px;
  height: 70px;
  margin: 0 auto;
  background-color: #e2d4ed;
}
nav {
  width: 350px;
  float: right;
  font-size: 18px;
}

ul {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
ul > li {
  list-style: none;
  font: Arial;
}
li:hover {
  font-size: 19px;
  text-decoration: line-through;
  color: white;
}

.section-card {
  display: flex;
  background-image: url(../../../../assets/images/backgrounds/trianglify-1.png);
  flex-wrap: wrap;
  max-width: 1200px;
  justify-content: space-between;
  margin: 0 auto;
}
.card-container {
  max-width: 45%;
  height: 200px;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 3px 3px 7px 0px rgba(49, 46, 46, 0.73);
  margin: 30px auto;
}
.text {
  color: rgb(255, 251, 251);
}

.card-contenido {
  width: 100%;
  padding: 20px;
  padding-left: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(85 149 32 / 42%);
}

.card-titulo {
  font-size: 30px;
  margin-bottom: 15px;
}
.card-subtitulo {
  margin-top: 3px;
  font-size: 15px;
  color: rgb(255, 251, 251);
  font-weight: normal;
}

.card-descripcion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
