.cont-buttons {
  display: flex;
  width: 180px;
}

.cont-buttons button:first-child {
  background-color:#dd424257;
}

.cont-buttons button:last-child {
  background-color: #88c782;
}


.section-users {
  display: flex;
  height: 100vh;
  background-image: url(../../../../assets/images/backgrounds/trianglify-1.png);
  justify-content: center;
  align-items: flex-start;
}

.p-0{
    height: 340px;
}