.cont-buttons {
  display: flex;
   width: 180px;
}

.cont-buttons button:last-child {
  background-color: #88c782;
}

.login-users {
  display: flex;
  height: 90vh;
  background-image: url(../../../../assets/images/backgrounds/trianglify-1.png);
  justify-content: center;
  align-items: flex-start;

}

